### Import Packages

In [24]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import train_test_split

### Import Data

In [25]:
train_data = pd.read_csv("car.data", header=None)
train_data.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"]

In [26]:
train_data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [27]:
len(train_data)

1728

#### Modify buying

1 - vhigh <br>
2 - high <br>
3 - med <br>
4 - low <br>

In [28]:
train_data['buying'].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [29]:
new_buying = []
for i in range(0, len(train_data)) :
    if train_data['buying'][i] == 'vhigh' :
        new_buying.append(1)
    elif train_data['buying'][i] == 'high' :
        new_buying.append(2)
    elif train_data['buying'][i] == 'med' :
        new_buying.append(3)
    elif train_data['buying'][i] == 'low' :
        new_buying.append(4)
train_data['buying'] = new_buying

#### Modify maint

1 - vhigh <br>
2 - high <br>
3 - med <br>
4 - low <br>

In [30]:
train_data['maint'].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [31]:
new_maint = []
for i in range(0, len(train_data)) :
    if train_data['maint'][i] == 'vhigh' :
        new_maint.append(1)
    elif train_data['maint'][i] == 'high' :
        new_maint.append(2)
    elif train_data['maint'][i] == 'med' :
        new_maint.append(3)
    elif train_data['maint'][i] == 'low' :
        new_maint.append(4)
train_data['maint'] = new_maint

#### Modify doors

5 - 5more

In [32]:
train_data['doors'].unique()

array(['2', '3', '4', '5more'], dtype=object)

In [33]:
new_doors = []
for i in range(0, len(train_data)) :
    if train_data['doors'][i] == '5more' :
        new_doors.append(5)
    else :
        new_doors.append(int(train_data['doors'][i]))
train_data['doors'] = new_doors

#### Modify persons
5 = more

In [34]:
train_data['persons'].unique()

array(['2', '4', 'more'], dtype=object)

In [35]:
new_persons = []
for i in range(0, len(train_data)) :
    if train_data['persons'][i] == 'more' :
        new_persons.append(5)
    else :
        new_persons.append(int(train_data['persons'][i]))
train_data['persons'] = new_persons

####  Modify lug_boot

1 = big <br>
2 = med <br>
3 - small <br>

In [36]:
train_data['lug_boot'].unique()

array(['small', 'med', 'big'], dtype=object)

In [37]:
new_lug_boot = []
for i in range(0, len(train_data)) :
    if train_data['lug_boot'][i] == 'big' :
        new_lug_boot.append(1)
    elif train_data['lug_boot'][i] == 'med' :
        new_lug_boot.append(2)
    elif train_data['lug_boot'][i] == 'small' :
        new_lug_boot.append(3)
train_data['lug_boot'] = new_lug_boot

#### Modify safety

1- high <br>
2 - med <br>
3 - low <br>

In [38]:
train_data['safety'].unique()

array(['low', 'med', 'high'], dtype=object)

In [39]:
new_safety = []
for i in range(0, len(train_data)) :
    if train_data['safety'][i] == 'high' :
        new_safety.append(1)
    elif train_data['safety'][i] == 'med' :
        new_safety.append(2)
    elif train_data['safety'][i] == 'low' :
        new_safety.append(3)
train_data['safety'] = new_safety

#### Modify class

1 - vgood <br>
2 - good <br>
3 - acc <br>
4 - unacc <br>

In [40]:
train_data['class'].unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [41]:
new_class = []
for i in range(0, len(train_data)) :
    if train_data['class'][i] == 'vgood' :
        new_class.append(1)
    elif train_data['class'][i] == 'good' :
        new_class.append(2)
    elif train_data['class'][i] == 'acc' :
        new_class.append(3)
    elif train_data['class'][i] == 'unacc' :
        new_class.append(4)
train_data['class'] = new_class

#### New dataframe

In [42]:
train_data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       1      1      2        2         3       3      4
1       1      1      2        2         3       2      4
2       1      1      2        2         3       1      4
3       1      1      2        2         2       3      4
4       1      1      2        2         2       2      4

### Prepare logging dataframe

In [43]:
log_model = []
log_accuracy = []
log_precision = []
log_recall = []
log_cnf_matrix = []

def update_log(model, accuracy, precision, recall, cnf_matrix) :
    log_model.append(model)
    log_accuracy.append(accuracy)
    log_precision.append(precision)
    log_recall.append(recall)
    log_cnf_matrix.append(cnf_matrix)

### Results Preparation

In [44]:
def print_cnf_matrix(cnf_matrix) :
    class_names=[1, 2, 3, 4] # name  of classes
    fig, ax = plt.subplots()
    tick_marks = np.arange(len(class_names))
    plt.xticks(tick_marks, class_names)
    plt.yticks(tick_marks, class_names)
    # create heatmap
    sns.heatmap(pd.DataFrame(cnf_matrix), annot=True, cmap="YlGnBu" ,fmt='g')
    ax.xaxis.set_label_position("top")
    plt.tight_layout()
    plt.title('Confusion matrix', y=1.1)
    plt.ylabel('Actual label')
    plt.xlabel('Predicted label')

In [45]:
def results(model_name, y_pred) :
    accuracy = metrics.accuracy_score(y_test, y_pred)
    precision = metrics.precision_score(y_test, y_pred, average='micro')
    recall = metrics.recall_score(y_test, y_pred, average='micro')
    cnf_matrix = metrics.confusion_matrix(y_test, y_pred)

    update_log(model_name, accuracy, precision, recall, cnf_matrix)

    print("Accuracy:", accuracy)
    print("Precision:", precision)
    print("Recall:", recall)
    print("Confusion Matrix:", cnf_matrix)
    
    print_cnf_matrix(cnf_matrix)

### Split data into Train and Test

In [46]:
X_train, X_test, y_train, y_test = train_test_split(train_data[['maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']], train_data['buying'], test_size=0.3, random_state=42)

In [ ]:
model_logreg = LogisticRegression()
model_logreg.fit(X_train, y_train)
y_pred_logreg = model_logreg.predict(X_test)

results("Logistic Regression", y_pred_logreg)